:host ::ng-deep .p-card {
  background-color: transparent;
  opacity: initial;
  height: auto;
  width: 450px;
  position: absolute;
  border-radius: 10px;
  top: 20%;
  left: 35%;
  border: 2px solid rgba(50, 50, 50, 0.1);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
  padding: 20px 20px;
}

.p-tag {
  background: #f39f86;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.25rem 1.4rem;
  border-radius: 10px;
}
h4,h5,h6
{
  margin: 8px 8px;
}
 .map,.phone,.mail,.followus{
  color: #f39f86;
  text-align: center;
}
.pi{
  font-size: 1.5rem;
}
