
<p-card>
  <form class="">
    <h2 style="text-align: center; color: whitesmoke; " >SignUp</h2>

    <div class="flex justify-content-center ">
      <input type="text"
             style="margin:5px 2px;" class="form-control "
             placeholder="First Name" pInputText>
      <input type="text"
             style="margin:5px 2px;" class="form-control "
             placeholder="Last Name" pInputText>
    </div>
    <div class="flex justify-content-center ">
      <input type="text"
             style="margin:5px 2px;" class="form-control "
             placeholder="Email Id" pInputText>
      <input type="text"
             style="margin:5px 2px; " class="form-control "
             placeholder="Mobile Number" pInputText>
    </div>
    <div class="flex justify-content-center ">
    <input type="text"
           style="margin:5px 2px;" class="form-control "
           placeholder="Password" pInputText>
    <input type="text"
           style="margin:5px 2px; " class="form-control "
           placeholder="Conform Password" pInputText>
    </div>
    <div class="flex justify-content-center ">
      <button pButton pRipple type="submit" label="Register" class="p-button-outlined p-button-rounded">
      </button>
    </div><div class="social">
    <div class="go"><i class="pi pi-google"></i>  Google</div>
    <div class="fb"><i class="pi pi-facebook"></i>  Facebook</div>
  </div>
  </form>
</p-card>
