

:host ::ng-deep .p-card {
  background-color: transparent;
  opacity: initial;
  height: auto;
  width: 450px;
  position: absolute;
  border-radius: 10px;
  top: 20%;
  left: 35%;
  border: 2px solid rgba(50, 50, 50, 0.1);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.6);
  padding: 20px 20px;
}
.p-button.p-button-outlined
{
  background: white;
  color: #f39f86;
}
.p-button.p-button-outlined:enabled:hover
{
  background: #f39f86;
  color: white;
}
.p-inputgroup-addon {
  background: #f39f86;
  color: antiquewhite;
  margin: 5px 0;
}


